* {
    margin: 0;
    padding: 0;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightskyblue;
    padding: 10px 20px;
    height: 50px;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.nav-text {
    font-family: 'Montserrat';
    color: whitesmoke;  
    margin-left: 30px;
}

ul {
    list-style-type: none;
    display: flex;
}

li a {
    color: whitesmoke;
    text-decoration: none;
    font-family: "Montserrat";
    padding: 25.5px 30px;
}

li a:hover {
    background-color: #3194f7;
    text-decoration: underline;
}

.hero-image {
    width: 100%;
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("./images/glacier.avif");
}

.hero-text {
    font-family: 'Montserrat';
    color: white;
    font-size: 70px;
    text-align: center;
    position: absolute; 
    top: 170px;
    width: 100%;
}

.description {
    font-family: 'Montserrat';
    color: white;
    text-align: center;
    position: absolute;
    width: 100%;
    top: 300px;
    font-size: 30px;
}

.btn {
    font-family: 'Montserrat';
    background-color: lightskyblue;
    color: white;
    padding: 20px 40px;
    text-decoration: none;
    font-size: 20px;
    border-radius: 10px;
    display: inline-block;
    margin-top: 400px;
}

.btn:hover {
    background-color: #3399FF;
}

.btn-container {
    text-align: center;
}

.climate-change {
    padding: 0px 200px 0px 200px;
    text-align: justify;
    font-family: 'Montserrat';
}

.climate-change-title {
    margin-right: 400px;
    font-size: 35px;
    margin-top: 50px;
}

.climate-change-image {
    margin-top: 50px;
}

.climate-change-info {
    font-weight: 400;
    margin-top: 50px;
    font-size: 17px;
}

.comparison {
    padding: 0px 200px 0px 200px;
    font-family: "Montserrat";
    text-align: justify;
}

.comparison-title {
    font-size: 35px;
    margin: 50px 400px 0px 0px;
}

.comparison-info {
    font-weight: 400;
    margin-top: 50px;
    font-size: 17px;
}

.global-warming {
    text-align: justify;
    padding: 0px 200px 0px 200px;
    font-family: 'Montserrat';
    margin-top: 50px;
}

.global-temperature-graph {
    margin-top: 50px;
}

.graph-description {
    color: rgb(168, 167, 167);
    font-size: 15px;
    margin-top: 20px;
}

.global-warming-title { 
    margin-right: 400px;
    font-size: 35px;
}

.global-warming-info {
    font-weight: 400;
    margin-top: 30px;
    font-size: 17px;
}

.more-info {
    font-weight: 400;
    font-size: 17px;
    margin-top: 17px;
}

.discover {
    font-family: "Montserrat";
}

.discover-title {
    margin: 50px 30px;
    text-align: center;
    font-size: 30px;
}

.three-column {
    font-family: "Montserrat";
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    width: 80%;
    margin-left: 125px;
}

.causes-card {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-image:  linear-gradient(to top, rgba(0,0,0,0.7), rgba(0,0,0,0)),
    url("./images/fossil.jpg");
    height: 500px;
    background-position: right;
}

.effects-card {
    background-repeat: no-repeat;
    background-size: cover;
    background-image:  linear-gradient(to top, rgba(0,0,0,0.7), rgba(0,0,0,0)),
    url("./images/wildfire.jpg");
    height: 500px;
    background-position: right;
}


.solutions-card {
    background-repeat: no-repeat;
    background-size: cover;
    background-image:  linear-gradient(to top, rgba(0,0,0,0.7), rgba(0,0,0,0)),
    url("./images/turbine.jpg");
    height: 500px;
    background-position: right;
}

.card-text {
    margin: 450px 100px 0px 0px;
    text-align: center;
    color: whitesmoke;
    font-weight: 600;
}

.footer {
    margin-top: 50px;
    background-color: lightskyblue;
}

.footer-text {
    margin-left: 30px;
}